.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #363636;
  padding: 1em 1em;
}

.search_form {
  position: relative;
  width: 200px;
}

.search_form svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.search_form input {
  padding-left: 2.5em;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_links span {
  cursor: pointer;
}

.nav_links svg {
  font-size: 1.5em;
}
